/*================ Color variables ================*/
$colorHeader: #333;
$colorBody: #777;
$colorNavLink: #222;

/*================ Font variables ================*/
$headerFontFamily: 'Roboto', sans-serif;
$headerFontSize: 36px;
$headerFontWeight: normal;

$bodyFontFamily: 'Roboto', sans-serif;
$bodyFontSize: 17px;
$bodyFontWeight: 300;

$linkFontFamily: 'Roboto Condensed', sans-serif;
$linkFontSize: 16px;

$projectTitleFontFamily: 'Roboto', sans-serif;
$projectTitleFontSize: 42px;
$projectTitleFontWeight: normal;

$projectSubtitleFontFamily: 'Roboto Condensed', sans-serif;
$projectSubtitleFontSize: 24px;
$projectSubtitleFontWeight: 300;

/*================ Text ================*/
h1 {
  color: $colorHeader;
  font-family: $headerFontFamily;
  font-size: $headerFontSize;
  font-weight: $headerFontWeight;
  line-height: 1em;
}

h2 {
  color: $colorBody;
  font-family: $headerFontFamily;
  font-size: $headerFontSize * 0.6;
  font-weight: $headerFontWeight;
  word-wrap: normal;
  line-height: 0.6em;
}

body {
  color: $colorBody;
  font-family: $bodyFontFamily;
  font-size: $bodyFontSize;
  font-weight: $bodyFontWeight;
  line-height: 1.6em;
}

/*================ Base layout ================*/
html {
  border-top: 3px solid #7ebcbd;
}

body {
  margin-top: 30px;
}

.wrapper {
  background-color: #fff;

  @media (max-width: 1024px) {
    width: 100%;
  }
  @media (min-width: 1024px) {
    width: 1024px;
    margin: 0 auto;
  }
}

h1 {
    padding: 0;
    margin: 20px 0px 10px 0px;
}
h2 {
    padding: 0;
    margin: 0;
}
.title {
    color: $colorHeader;
    font-family: $projectTitleFontFamily;
    font-size: $projectTitleFontSize;
    font-weight: $projectTitleFontWeight;
    line-height: 1em;
}

.subtitle {
    color: $colorBody;
    font-family: $projectSubtitleFontFamily;
    font-size: $projectSubtitleFontSize;
    font-weight: $projectSubtitleFontWeight;
    line-height: 1.2em;
}

h3 {
    color: darken($colorBody, 40%);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: $bodyFontSize * 1.3;
    font-weight: $bodyFontWeight;
    line-height: 10px;
}

.sub-subtitle {
    color: lighten($colorBody, 30%);
    font-family: $projectSubtitleFontFamily;
    font-size: $projectSubtitleFontSize * 0.7;
    font-weight: $projectSubtitleFontWeight;
    font-style: italic;
    line-height: 1.2em;
}

.map-container {
    margin: 30px 0px;
}

.footer {
    color: #444;
    font-size: 12px;
    line-height: 1.3em;
    margin: 20px 0px;

    a {
        color: #000;
    }
}

#show-me-this {
    font-size: $bodyFontSize * 1.2;
    margin: 10px 0px;

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      text-indent: 1px;
      text-overflow: '';
      background: #fff;
      background-image: none;
      border: 0px;
      box-shadow: none;
      font-size: $bodyFontSize * 1.2;
      font-weight: 300;
      text-decoration: underline;
      text-align-last: center;
      text-align: center;
      cursor: pointer;
    }

    #compute_select {
      display: none;
    }
  }

%county {
    stroke: #fff;
    stroke-width: 0.4px;
}

.county {
    @extend %county;
}

.state {
    fill: none;
    stroke: #fff;
    stroke-width: 1.4px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-opacity: 0.6;
}

.county-label {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 50px;
    min-width: 100px;
    background-color: rgba(250, 250, 250, 0.85);
    padding: 4px;
    font-family: "Roboto Condensed", sans-serif;
    color: #444;

    p {
        margin:0;
        padding:0;
    }

    .title {
        color: #222;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.6em;
    }

    .subtitle {
        font-size: 12px;
        font-weight: 400;
        line-height: 1.4em;
    }

    .body {
        font-size: 13px;
        font-weight: 300;
        line-height: 1.6em;
    }

    .more-info {
        font-size: 10px;
        font-weight: 300;
        line-height: 1.4em;
    }
}

.bar {
    /* fill: #444; */
    stroke: #fff;
    stroke-width: 0.5px;
}

.no-data { 
    @extend %county;
    fill: red;
}