/*================ Color variables ================*/
/*================ Font variables ================*/
/*================ Text ================*/
h1 {
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 1em; }

h2 {
  color: #777;
  font-family: "Roboto", sans-serif;
  font-size: 21.6px;
  font-weight: normal;
  word-wrap: normal;
  line-height: 0.6em; }

body {
  color: #777;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.6em; }

/*================ Base layout ================*/
html {
  border-top: 3px solid #7ebcbd; }

body {
  margin-top: 30px; }

.wrapper {
  background-color: #fff; }
  @media (max-width: 1024px) {
    .wrapper {
      width: 100%; } }
  @media (min-width: 1024px) {
    .wrapper {
      width: 1024px;
      margin: 0 auto; } }

h1 {
  padding: 0;
  margin: 20px 0px 10px 0px; }

h2 {
  padding: 0;
  margin: 0; }

.title {
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 42px;
  font-weight: normal;
  line-height: 1em; }

.subtitle {
  color: #777;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2em; }

h3 {
  color: #111111;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 22.1px;
  font-weight: 300;
  line-height: 10px; }

.sub-subtitle {
  color: #c4c4c4;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16.8px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.2em; }

.map-container {
  margin: 30px 0px 0px 0px; }

.chart-title {
  display: none;
  color: #111111;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 22.1px;
  font-weight: 300;
  margin: 10px 0px; }

.footer {
  color: #444;
  font-size: 12px;
  line-height: 1.3em;
  margin: 20px 0px; }
  .footer a {
    color: #000; }

#show-me-this {
  font-size: 20.4px;
  margin: 10px 0px; }
  #show-me-this select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background: #fff;
    background-image: none;
    border: 0px;
    box-shadow: none;
    font-size: 20.4px;
    font-weight: 300;
    text-decoration: underline;
    text-align-last: center;
    text-align: center;
    cursor: pointer; }
  #show-me-this #compute_select {
    display: none; }

.background {
  fill: none;
  pointer-events: all; }

.loading {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #527e89;
  background-color: rgba(248, 248, 248, 0.85);
  /* background-color: rgba(177, 212, 203, 0.85); */
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px; }

.county, .no-data {
  stroke: #fff;
  stroke-width: 0.4px; }

.state {
  fill: none;
  stroke: #fff;
  stroke-width: 1.4px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-opacity: 0.6; }

.county-label {
  position: absolute;
  top: -100;
  /* Fix the DIV flashing on creation */
  left: 0;
  min-height: 50px;
  min-width: 100px;
  background-color: rgba(248, 248, 248, 0.85);
  padding: 4px;
  font-family: "Roboto Condensed", sans-serif;
  color: #444; }
  .county-label p {
    margin: 0;
    padding: 0; }
  .county-label .title {
    color: #222;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6em; }
  .county-label .subtitle {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4em; }
  .county-label .body {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.6em; }
  .county-label .more-info {
    font-size: 10px;
    font-weight: 300;
    line-height: 1.4em; }

.bar {
  stroke: #fff;
  stroke-width: 0.5px; }

.no-data {
  fill: red; }

/*# sourceMappingURL=housing-market.css.map */
